<%= simple_form_for(@cocktail) do |f| %>
<%= f.input :name %>
<%= f.input :photo, as: :file %>
<%= f.button :submit  %>
  <div class="form-actions btn btn-primary">
  <%= f.button :submit %>
    </div>
<% end %>
  <%= cl_image_tag("Flaming-Moes-Australia_gtcy5p",
      width: 1368, height: 400, crop: :fill) %>
